<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${chapter.getChapterName()}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/myStyle.css}">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script th:src="@{/js/MyJs.js}"></script>
</head>
<body onkeydown="getChapter()">
    <script>
        function getChapter() {
            var e=window.event || arguments[0];
            if(e.keyCode===37) {
                window.location.href = $('#last').attr('href');
            } else if (e.keyCode === 39) {
                window.location.href = $('#next').attr('href');
            }
        }
    </script>
    <div class="wrapper">
        <div class="ywtop">
            <div class="nri" th:if="${session.reader == null}" onkeydown="var e=window.event || arguments[0];if(e.keyCode===13){ login() }">
                <div class="cc">
                    <div class="txt">账号：</div>
                    <div class="inp">
                        <input type="text" name="reader_name" id="reader_name">
                    </div>
                </div>
                <div class="cc">
                    <div class="txt">密码：</div>
                    <div class="inp">
                        <input type="text" name="password" id = "reader_password"/>
                    </div>
                </div>
                <div class="frii">
                    <input type="submit" value="登 录" id = "login" onclick="login()"/>
                </div>
                <div class="ccc">
                    <a th:href="@{/toRegister}" style="color: dimgrey; font-size: 15px;">用户注册</a>
                </div>
            </div>
            <div class="nri" th:if="${session.reader != null}">
                Hi..<a th:href="@{/user/home}" th:text="${session.reader.getReaderName()}"></a>
                <a href="javascript:;" onclick="logout()">登出</a>
            </div>
        </div>
        <div class="header">
            <div class="logo">
                <a th:href="@{/}"><img src="http://nealcaffrey.oss-cn-beijing.aliyuncs.com/cover/riye.png" th:alt="LOGO" style="width: 230px; height: 58px"></a>
            </div>
            <div class="search">
                <form action="/novel/search">
                    <input type="search" class="txt" name = "key" placeholder="小说名称、作者" />
                    <input type="submit" class="btn" value="搜索" />
                </form>
            </div>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="/bookCase">我的书架</a></li>
                <li><a href="/novel/class/1">玄幻奇幻</a></li>
                <li><a href="/novel/class/2">武侠仙侠</a></li>
                <li><a href="/novel/class/3">都市言情</a></li>
                <li><a href="/novel/class/4">历史军事</a></li>
                <li><a href="/novel/class/5">科幻灵异</a></li>
                <li><a href="/novel/class/6">网游竞技</a></li>
                <li><a href="/novel/class/7">女频频道</a></li>
                <li><a href="/novel/rankingList">排行榜单</a></li>
                <li><a href="/novel/complete">完本小说</a></li>
                <li><a href="/record">阅读记录</a></li>
            </ul>
        </div>
        <div class="box_con">
            <div class="con_top">
                <a href = "/">日夜阅读</a> > <a th:href="@{/novel/class/{lid}(lid = ${label.getLid()})}" th:text="${label.getLabelName()}"></a> > <a th:href="@{/novel/{nid}(nid = ${novel.getNid()})}" th:text="${novel.getTitle()}"></a> > <span th:text="${chapter.getChapterName()}"></span>
            </div>
            <div class="bookname">
                <h1 th:text="${chapter.getChapterName()}"></h1>
                <div class="bottem1">
                    <a id="last" class="link" th:if="${lastChapter != null}" th:href="@{/chapter/{nid}/{cid}(nid = ${novel.getNid()}, cid = ${lastChapter.getCid()})}">上一章</a>
                    <span class="link" th:if="${lastChapter == null}">上一章</span>
                    <a class="link" th:href="@{/novel/{nid}(nid = ${novel.getNid()})}">章节列表</a>
                    <a id="next" class="link" th:if="${nextChapter != null}" th:href="@{/chapter/{nid}/{cid}(nid = ${novel.getNid()}, cid = ${nextChapter.getCid()})}">下一章</a>
                    <span class="link" th:if="${nextChapter == null}">下一章</span>
                </div>
            </div>
            <div class="content">
                <span class="showtxt" th:text="${chapter.getContent()}"></span>
            </div>
            <div class="bottem2">
                <a class="link" th:if="${lastChapter != null}" th:href="@{/chapter/{nid}/{cid}(nid = ${novel.getNid()}, cid = ${lastChapter.getCid()})}">上一章</a>
                <span class="link" th:if="${lastChapter == null}">上一章</span>
                <a class="link" th:href="@{/novel/{nid}(nid = ${novel.getNid()})}">章节列表</a>
                <a class="link" th:if="${nextChapter != null}" th:href="@{/chapter/{nid}/{cid}(nid = ${novel.getNid()}, cid = ${nextChapter.getCid()})}">下一章</a>
                <span class="link" th:if="${nextChapter == null}">下一章</span>
            </div>
        </div>
    </div>
</body>
</html>