<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chapter" >

    <insert id="insertChapter" parameterType="ChapterEntity" useGeneratedKeys="true" keyProperty="cid">
        INSERT INTO chapter (nid, chapter_name, content, create_time, word_num, allow)
        VALUES (#{nid}, #{chapterName}, #{content}, #{createTime}, #{wordNum}, #{allow})
    </insert>

    <select id="getDirectoryByNid" resultMap="chapterResultMap">
        SELECT * FROM chapter WHERE nid = #{nid}
    </select>

    <select id="getChapterByCid" resultMap="chapterResultMap">
        SELECT * FROM chapter WHERE cid = #{cid}
    </select>

    <select id="getChapterByRecordNid" resultMap="chapterResultMap">
        SELECT * FROM chapter
        RIGHT JOIN record ON chapter.cid = record.cid
        WHERE record.nid = #{nid}
        ORDER BY record_id DESC
        LIMIT 1
    </select>
    
    <select id="getNewChapter" resultMap="chapterResultMap">
        SELECT * FROM chapter WHERE nid = #{nid}
        ORDER BY cid DESC
        LIMIT 1
    </select>

    <select id="getNotAllowedChapter" resultMap="chapterResultMap">
        SELECT * FROM chapter WHERE allow = 0 AND nid = #{nid};
    </select>

    <update id="chapterAllowed">
        UPDATE chapter SET allow = 1 WHERE nid = #{nid} AND cid = #{cid}
    </update>

    <resultMap id="chapterResultMap" type="ChapterEntity" >
        <id column="cid" property="cid" jdbcType="BIGINT" />
        <result column="nid" property="nid" jdbcType="BIGINT" />
        <result column="chapter_name" property="chapterName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="BIGINT" />
        <result column="words_num" property="wordsNum" jdbcType="INTEGER" />
        <result column="allow" property="allow" jdbcType="INTEGER" />
    </resultMap>

</mapper>